# Ignore everything:
*
# But descend into directories:
!*/
*.swp
*.log
.svn
*~
*.project
.builds
Thumbs.db

# Mac
.DS_Store
.Trashes
.com.apple.timemachine.supported
.fseventsd

!/.gitignore
#!/.htaccess
!/bootstrap.php
!/captcha.php
!/index.php
!admin/admin_form/**
!admin/affiliate/**
!admin/antispam/**
!admin/benchmark/**
!admin/constant/**
!admin/document/**
!admin/images/**
!admin/informationsystem/**
!admin/ipaddress/**
!admin/js/**
!admin/lib/**
!admin/market/**
!admin/module/**
!admin/oneps/**
!admin/revision/**
!admin/schedule/**
!admin/seo/**
!admin/shop/**
!admin/shortcode/**
!admin/site/**
!admin/sql/**
!admin/structure/**
!admin/tag/**
!admin/template/**
!admin/trash/**
!admin/typograph/**
!admin/update/**
!admin/user/**
!admin/wysiwyg/**
!admin/xsl/**
!admin/favicon.ico
!admin/index.php
!admin/logout.php
!cron/**
!hostcmsfiles/ajax/**
!hostcmsfiles/captcha/**
!hostcmsfiles/images/**
!hostcmsfiles/jquery/**
# Disable libs
#!hostcmsfiles/lib/**
!hostcmsfiles/logs/.htaccess
!hostcmsfiles/shop/**
# Disable structures
#!hostcmsfiles/structure/**
!hostcmsfiles/tmp/.htaccess
!hostcmsfiles/update/.htaccess
# Disable xsls
#!hostcmsfiles/xsl/**
!hostcmsfiles/.htaccess
!hostcmsfiles/main.js
!hostcmsfiles/style.css
!images/**
!install/images/**
!install/dump_41.sql
!install/index.php
!install/licence.txt

!modules/admin/**
!modules/affiliate/**
!modules/antispam/**
!modules/benchmark/**
!modules/comment/**
!modules/constant/**
!modules/core/**
# Disable config folder
modules/core/config/*
!modules/document/**
!modules/informationsystem/**
!modules/install/**
!modules/ipaddress/**
!modules/lib/**
!modules/market/**
!modules/module/**
!modules/oneps/**
!modules/property/**
!modules/revision/**
!modules/schedule/**
!modules/seo/**
!modules/shop/**
!modules/shortcode/**
!modules/site/**
!modules/skin/**
!modules/source/**
!modules/sql/**
!modules/structure/**
!modules/tag/**
!modules/template/**
!modules/trash/**
!modules/typograph/**
!modules/update/**
!modules/user/**
!modules/vote/**
!modules/wysiwyg/**
!modules/xsl/**
!modules/.htaccess
#
#!templates/**
#
#!upload/**
