php_flag short_open_tag Off

#php_value memory_limit "128M"
#php_value max_execution_time "240"

#php_value error_reporting "E_ALL"
#php_value display_errors "1"

Options +FollowSymlinks
#Options +SymLinksIfOwnerMatch
AddDefaultCharset Off

<Files .htaccess>
	<IfModule !mod_authz_core.c>
		Order deny,allow
		Deny from all
	</IfModule>
	<IfModule mod_authz_core.c>
		Require all denied
	</IfModule>
</Files>

<IfModule mod_php5.c>
	php_flag magic_quotes_gpc off
	php_flag magic_quotes_runtime off
	php_flag register_globals off
</IfModule>

<IfModule mod_dir.c>
	DirectoryIndex index.php index.htm index.html
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType image/x-icon "access plus 1 week"
	ExpiresByType image/gif "access plus 1 week"
	ExpiresByType image/jpeg "access plus 1 week"
	ExpiresByType image/png "access plus 1 week"
	ExpiresByType text/css "access plus 1 week"
	ExpiresByType text/javascript "access plus 1 week"
	ExpiresByType application/x-javascript "access plus 1 week"
</IfModule>

# Apache 2.2, 2.4
<IfModule mod_deflate.c>
	<IfModule mod_filter.c>
		AddOutputFilterByType DEFLATE text/css text/javascript application/javascript application/x-javascript
		<IfModule mod_setenvif.c>
			BrowserMatch ^Mozilla/4 gzip-only-text/html
			BrowserMatch ^Mozilla/4\.0[678] no-gzip
			BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
		</IfModule>
	</IfModule>
</IfModule>

# Apache 1.3, 2.0
<ifModule mod_gzip.c>
	mod_gzip_on Yes
	mod_gzip_dechunk Yes
	mod_gzip_item_include file .(css|js)$
	mod_gzip_item_include mime ^application/javascript$
	mod_gzip_item_include mime ^application/x-javascript$
	mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

	# Filter TRACE, TRACK and DEBUG request methods
	RewriteCond %{REQUEST_METHOD} ^(DEBUG|TRACE|TRACK) [NC]
	RewriteRule ^(.*)$ - [F,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ /index.php

	RewriteCond %{REQUEST_METHOD} !POST
	RewriteCond %{HTTP_COOKIE} !^.*PHPSESSID=.*$
	RewriteCond %{DOCUMENT_ROOT}/cache_html/%{SERVER_NAME}%{REQUEST_URI}%{QUERY_STRING}index.html -f
	RewriteRule ^(.*)$ /cache_html/%{SERVER_NAME}%{REQUEST_URI}%{QUERY_STRING}index.html
</IfModule>