*
*/
*.swp
*.log
.svn
*~
*.project
.builds

# Mac
.DS_Store
.Trashes
.com.apple.timemachine.supported
.fseventsd

!.gitignore
!.htaccess
!bootstrap.php
!captcha.php
!index.php
!modules/modules_form/*
!modules/affiliate/*
!modules/antispam/*
!modules/benchmark/*
!modules/constant/*
!modules/document/*
!modules/images/*
!modules/informationsystem/*
!modules/ipaddress/*
!modules/js/*
!modules/lib/*
!modules/market/*
!modules/module/*
!modules/oneps/*
!modules/revision/*
!modules/schedule/*
!modules/seo/*
!modules/shop/*
!modules/shortcode/*
!modules/site/*
!modules/sql/*
!modules/structure/*
!modules/tag/*
!modules/template/*
!modules/trash/*
!modules/typograph/*
!modules/update/*
!modules/user/*
!modules/wysiwyg/*
!modules/xsl/*
!modules/favicon.ico
!modules/index.php
!modules/logout.php
!cron/*
!hostcmsfiles/ajax/*
!hostcmsfiles/captcha/*
!hostcmsfiles/images/*
!hostcmsfiles/jquery/*
!hostcmsfiles/lib/*
!hostcmsfiles/logs/.htaccess
!hostcmsfiles/shop/*
!hostcmsfiles/structure/*
!hostcmsfiles/tmp/.htaccess
!hostcmsfiles/update/.htaccess
!hostcmsfiles/xsl/*
!hostcmsfiles/.htaccess
!hostcmsfiles/main.js
!hostcmsfiles/style.css
!images/*
!install/images/*
!install/dump_41.sql
!install/index.php
!install/licence.txt

!modules/admin/*
!modules/affiliate/*
!modules/antispam/*
!modules/benchmark/*
!modules/comment/*
!modules/constant/*
!modules/core/*
#modules/core/config/*
###
!modules/document/*
!modules/informationsystem/*
!modules/install/*
!modules/ipaddress/*
!modules/lib/*
!modules/market/*
!modules/module/*
!modules/oneps/*
!modules/property/*
!modules/revision/*
!modules/schedule/*
!modules/seo/*
!modules/shop/*
!modules/shortcode/*
!modules/site/*
!modules/skin/*
!modules/source/*
!modules/sql/*
!modules/structure/*
!modules/tag/*
!modules/template/*
!modules/trash/*
!modules/typograph/*
!modules/update/*
!modules/user/*
!modules/vote/*
!modules/wysiwyg/*
!modules/xsl/*
!modules/.htaccess
#
!templates/*
#
!upload/*
