<div class="left_block content">
	<div class="data">
		<?php
		Core_Page::instance()->execute();
		?>
	</div>
</div>

<div class="right_block">
	<div class="content">
		<?php
		// Разделы магазина
		if (Core::moduleIsActive('shop'))
		{
			$Shop_Controller_Show = new Shop_Controller_Show(
				Core_Entity::factory('Shop', Core_Page::instance()->libParams['shopId'])
			);
			$Shop_Controller_Show
				->xsl(
					Core_Entity::factory('Xsl')->getByName('МагазинГруппыТоваровНаГлавной')
				)
				->groupsMode('tree')
				->group(0)
				->limit(0)
				->show();
		}

		// Фильтр справа
		if (Core::moduleIsActive('shop') && isset(Core_Page::instance()->libParams['shopId']))
		{
			$oShop = Core_Entity::factory('Shop', Core_Page::instance()->libParams['shopId']);

			$Shop_Controller_Show = new Shop_Controller_Show($oShop);
			$Shop_Controller_Show
				->xsl(
					Core_Entity::factory('Xsl')->getByName('МагазинФильтр')
				)
				->groupsMode('tree')
				->limit(0)
				->viewed(FALSE)
				->itemsProperties(TRUE);

			if (is_object(Core_Page::instance()->object)
				&& get_class(Core_Page::instance()->object) == 'Shop_Controller_Show')
			{
				$Shop_Controller_Show->group(Core_Page::instance()->object->group);
				$iCurrentShopGroup = Core_Page::instance()->object->group;

				$Shop_Controller_Show->setFilterProperties(Core_Page::instance()->object->getFilterProperties());
				$Shop_Controller_Show->setFilterPrices(Core_Page::instance()->object->getFilterPrices());
				$Shop_Controller_Show->setFilterMainProperties(Core_Page::instance()->object->getFilterMainProperties());

				Core_Page::instance()->object->producer
					&& $Shop_Controller_Show->producer(Core_Page::instance()->object->producer);

				!is_null(Core_Page::instance()->object->tag)
					&& $Shop_Controller_Show->tag(Core_Page::instance()->object->tag);
			}
			else
			{
				$iCurrentShopGroup = 0;
			}

			$Shop_Controller_Show
				->group($iCurrentShopGroup)
				->subgroups(Core_Page::instance()->object->subgroups)
				->applyGroupCondition();

			// Sorting
			if (Core_Array::getGet('sorting'))
			{
				$sorting = intval(Core_Array::getGet('sorting'));
				$Shop_Controller_Show->addEntity(
					Core::factory('Core_Xml_Entity')
						->name('sorting')->value($sorting)
				);
			}

			/* Количество */
			$on_page = intval(Core_Array::getGet('on_page'));
			if ($on_page > 0 && $on_page < 150)
			{
				$Shop_Controller_Show->addEntity(
					Core::factory('Core_Xml_Entity')
						->name('on_page')->value($on_page)
				);
			}

			$Shop_Controller_Show
				//->warehouseMode('in-stock-modification')
				//Фильтровать по ярлыкам
				->filterShortcuts(TRUE)
				->addProducers()
				->filterCounts(TRUE)
				->modificationsList(TRUE)
				->modificationsGroup(TRUE)
				->addMinMaxPrice()
				->itemsPropertiesListJustAvailable(TRUE)
				//->applyFilter()
				->show();
		}

		// Последний заказ
		if (Core::moduleIsActive('shop') && Core_Array::get(Core_Page::instance()->libParams, 'shopId'))
		{
			$oShop = Core_Entity::factory('Shop', Core_Page::instance()->libParams['shopId']);

			$Shop_Controller_Show = new Shop_Controller_Show(
				$oShop
			);

			$Shop_Controller_Show
				->xsl(
					Core_Entity::factory('Xsl')->getByName('МагазинПоследнийЗаказ')
				)
				->groupsMode('none')
				->limit(0);

			$oShop_Orders = $oShop->Shop_Orders;
			$oShop_Orders
				->queryBuilder()
				->where('shop_orders.paid', '=', 1)
				->clearOrderBy()
				->orderBy('shop_orders.id', 'DESC')
				->limit(1);

			$aShop_Orders = $oShop_Orders->findAll();

			if (count($aShop_Orders))
			{
				foreach ($aShop_Orders as $oShop_Order)
				{
					$aShop_Order_Items = $oShop_Order->Shop_Order_Items->findAll();

					foreach ($aShop_Order_Items as $oShop_Order_Item)
					{
						if ($oShop_Order_Item->shop_item_id)
						{
							$oShop_Item = Core_Entity::factory('Shop_Item')->find($oShop_Order_Item->shop_item_id);

							!is_null($oShop_Item->id) && $Shop_Controller_Show->addEntity(
								$oShop_Item
									->addForbiddenTag('text')
									->addForbiddenTag('description')
									->addForbiddenTag('shop_producer')
									->showXmlComments(FALSE)
									->showXmlAssociatedItems(FALSE)
									->showXmlModifications(FALSE)
									->showXmlSpecialprices(FALSE)
									->showXmlTags(FALSE)
									->showXmlWarehousesItems(FALSE)
									->showXmlSiteuser(FALSE)
									->showXmlProperties(FALSE)
							);

							//Если модификация, то в неё добавляем родителя
							if ($oShop_Item->modification_id > 0)
							{
								$oShop_Parent_Item = Core_Entity::factory('Shop_Item', $oShop_Item->modification_id);
								!is_null($oShop_Parent_Item->id) && $oShop_Item->addEntity(
									$oShop_Parent_Item
								);
							}
						}
					}

					$Shop_Controller_Show->addEntity(
						$oShop_Order
					);
				}

				$Shop_Controller_Show
					->itemsForbiddenTags(array('text'))
					->show();
			}
		}

		// Метки
		if (Core::moduleIsActive('shop') && Core::moduleIsActive('tag'))
		{
			$Shop_Controller_Tag_Show = new Shop_Controller_Tag_Show(
				Core_Entity::factory('Shop', Core_Page::instance()->libParams['shopId'])
			);
			$Shop_Controller_Tag_Show
				->xsl(
					Core_Entity::factory('Xsl')->getByName('ОблакоТэговМагазин')
				);

			if (is_object(Core_Page::instance()->object)
			&& get_class(Core_Page::instance()->object) == 'Shop_Controller_Show'
			&& Core_Page::instance()->object->group)
			{
				$Shop_Controller_Tag_Show->group(Core_Page::instance()->object->group);
			}

			$Shop_Controller_Tag_Show->show();
		}
		?>
	</div>
</div>
<div class="clearing"></div>